body {
background-image: linear-gradient(to right top, #005aa0, #005496, #004e8d, #004883, #00427a);
display: flex;
background-attachment: fixed;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;

}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;

}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 0px;
  letter-spacing: 1px;
  border-width: 0;
  font-family: "Arial";
}

.AddOption {
  margin-top: 10px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  border-radius: 0px;
  letter-spacing: 1px;
  border-width: 0;
  background-color: white;
  font-family: "Arial";
  color:#00427a;
  font-size: 14px;
}

.AddOption:hover {
    opacity: 0.8;
}

.hero {
font-size: 80px;
font-family: "Intro Cond";
font-weight: bold;
color: white;
}

.Go {
padding-top: 15px;
padding-right: 30px;
padding-bottom: 13px;
padding-left: 30px;
border-radius: 20px;
letter-spacing: 1px;
border-width: 0;
background-color: white;
font-family: "Intro Cond";
font-weight: bold;
font-size: 16px;
color:#00427a;
transition: all;
}

.Go:hover {
    opacity: 0.8;
}


.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: "Intro Cond";
  font-weight: bold;
  color: white;
}
